/* Inserta tu CSS aqui */
div{
	height: 200px;
	width:  200px;
   }

 .amarillo{
 	background: yellow;
 	position: absolute;
 	left: 0;
 	top: 0;
 }

.azul{
 	background: blue;
 	position: absolute;
 	left: 0;
 	bottom: 0;
}

.rojo{
 	background: red;
 	position: absolute;
 	right: 0;
 	top: 0;
}

.verde{
 	background: green;
 	position: absolute;
 	right: 0;
 	bottom: 0;
}
